# .gitignore
.vscode

# cache
*.log
*.py[cod]
**/__pycache__/
**/.DS_Store
**/.ipynb_checkpoints
**/*.pytest_cache
outputs


# build
virne.egg-info
dist
build

# save
save
running_log
old_save
pretrained
exp_flag_vne_data
exp_srl_vne_data

# docs
docs/build/
docs/source/_autosummary/
docs/source/generated/

