# .gitignore
.vscode
.hydra

# cache
*.log
*.py[cod]
**/__pycache__/
**/.DS_Store
**/.ipynb_checkpoints
**/*.pytest_cache

# build
virne.egg-info/
dist
build

# save
outputs
results
save
running_log
old_save
pretrained
exp_data
exp_flag_vne_data
exp_srl_vne_data
benchmark

# docs
docs/build/
docs/source/_autosummary/
docs/source/generated/
